*.swp
*.pyc
~$*.xlsx
.idea/
__pycache__/
.ipynb_checkpoints/

# folders
checkpoints/
samples/
data/
!evaluation/metrics/av_quality/av_bench/data/
!evaluation/metrics/av_quality/av_bench/data/**
tmp/
demo/
.vscode/
temp/
.dist_test/

*.egg-info/
tensorboard/
wandb/
output/
